<div id="top" class="home">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Cryptography Project</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" id="teasers">
    <div class="span4 large">
      <h2>Encrypt &amp; Decrypt</h2>
      <p>Encrypt &amp; Decrypt utilizes Encryption Algorithms like AES,DES,etc.</p>
      <p><a href="#/aes" class="btn btn-success btn-large">Encrypt and Decrypt <i class="icon-arrow-right icon-white"></i></a></p>
    </div>
    <div class="span4 large">
      <h2>Key Maker</h2>
      <p>Typical passwords are hard to remember yet easy to crack. Why not use a somewhat longer but easy to remember sequence of random words instead?</p>
      <p><a href="#/phrases" class="btn btn-success btn-large">Key Maker <i class="icon-arrow-right icon-white"></i></a></p>
    </div>
  </div>
</div>